.Begins {
    margin: 100px auto;
}

.begins__left {
    width: 50%;
    
    border-color: var(--grey) !important;
}

.begins__right {
    width: 50%;
    padding: 50px;
    gap: 20px;
}

.begins__btn {
    width: 80%;
    color: var(--whiteDark);
    margin: 20px 0px;
    border: 1px solid var(--grey);
    padding: 5px;
}

.begins__btn img {
    height: 40px;
    margin-right: 10px;
}

@media screen and (max-width: 992px) {
    .Begins {
        display: flex;
        flex-direction: column;
    }

    .begins__left {
        width: 100%;
        padding: 20px !important;
    }

    .begins__right {
        width: 100%;
        padding: 20px !important;
        gap: 10px;
    }

    .begins__btn{
        width: 100%;
        font-size: 14px;
    }

    .begins__btn img {
        width: 30px;
        height: auto;
    }


}